/* Master Styles */

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Home styles */

main {
    font-family: "Lato", sans-serif;
}

#logo a {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
    color: lightseagreen;
    text-decoration: none;
}

.big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: "Lobster", cursive;
    color: lightseagreen;
}

.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgb(77, 175, 170);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: lightseagreen;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    text-align: center;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

/* Nav styles */

.nav-wrapper {    /* for the main */
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("./images/abt_bckgrnd.jpg");
    background-size: cover;
    padding: 0rem 5rem;
}

nav {    /* for the main */
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-wrapper2 {    /* for the other pages */
    min-height: 10vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("./images/nav.jpg");
    background-size: cover;
    padding: 0rem 5rem;
}

.nav {    /* for the other pages */
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding-left: 5rem;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-links li a:hover {
    border-bottom: 2px solid lightseagreen;
    color: lightseagreen;
}

.nav-links li a {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    text-decoration: none;
    color: white;
}

#active-nav-link {
    border-bottom: 2px solid lightseagreen;
    color: white !important;
}

/* Portfolio styles */

.content-wrapper h1 {
    color: lightseagreen;
    padding-left: 5%;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    min-height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* About Me styles*/

.content-wrapper h1 {
    color: lightseagreen;
    font-size: 1.8em;
    justify-content: left;
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.profile-image-wrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-top: 25px;
}

.profile-image-wrapper img {
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    width: cover;
    height: 400px;
}

.profile-content-wrapper {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 68%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 2;
    text-align: center;
    padding: 20px;
}