/* Nav styles */

.nav-wrapper {    /* for the main */
    padding: 0rem 5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    nav {    /* for the main */
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 10vh;

        .nav-links {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;

            li {
                font-family: "Lato", sans-serif;
                font-size: 1rem;
                text-transform: uppercase;
                padding: 0 2.5rem ;

                a {
                    border-bottom: 2px solid transparent;
                    transition: border-bottom 0.5s;
                    text-decoration: none;
                    color: white;
    
                    &:hover {
                        border-bottom: 2px solid $primaryColor;
                        color: $primaryColor;
                    }
                }
            }
            
            #active-nav-link {
                border-bottom: 2px solid $primaryColor;
                color: white !important;
            }
        }
    }
}

@media (max-width: 750px){
    .nav-wrapper {
        min-height: 15vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    }
    nav {
        flex-direction: column;
        padding: 10px;
    }
}

