/* Nav styles */
.nav-wrapper {
  /* for the main */
  padding: 0rem 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.nav-wrapper nav {
  /* for the main */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
}

.nav-wrapper nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-wrapper nav .nav-links li {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 2.5rem;
}

.nav-wrapper nav .nav-links li a {
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
  text-decoration: none;
  color: white;
}

.nav-wrapper nav .nav-links li a:hover {
  border-bottom: 2px solid lightseagreen;
  color: lightseagreen;
}

.nav-wrapper nav .nav-links #active-nav-link {
  border-bottom: 2px solid lightseagreen;
  color: white !important;
}

@media (max-width: 750px) {
  .nav-wrapper {
    min-height: 15vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}

/* Home styles */
#logo a {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
  color: lightseagreen;
  text-decoration: none;
}

.big-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: lightseagreen;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  background: #4dafaa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.intro-text {
  color: lightseagreen;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

/* Portfolio styles */
.portfolio-items-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  min-height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.icon-wrapper img {
  width: 20%;
  margin-bottom: 20px;
  visibility: hidden;
}

.img-text-wrapper:hover .icon-wrapper img {
  color: lightseagreen;
  visibility: visible;
}

.img-text-wrapper .subtitle {
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}

.img-darken {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
}

/* About Me styles*/
.two-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two-column-wrapper:after {
  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}

.two-column-wrapper .column {
  float: left;
}

.two-column-wrapper #profile-image-wrapper {
  width: 70%;
}

.two-column-wrapper #profile-image-wrapper img {
  display: block;
  margin: auto;
  border-radius: 5px;
}

.two-column-wrapper #profile-content-wrapper {
  width: 50%;
  margin-right: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/opacity/see-through */
  color: white;
  border: 3px solid #f1f1f1;
  text-align: center;
  padding: 20px;
}

.two-column-wrapper #profile-content-wrapper #thx {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  width: 100%;
}

/* Contact syles */
.contact-info-form-wrapper {
  position: relative;
  min-height: 80hv;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-info-form-wrapper .contact-info-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info-form-wrapper .contact-info-form .contact-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-info-form-wrapper .contact-info-form .contact-info .box {
  position: relative;
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info-form-wrapper .contact-info-form .contact-info .box .icon {
  min-width: 60px;
  height: 60px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-size: 22px;
}

.contact-info-form-wrapper .contact-info-form .contact-info .box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.contact-info-form-wrapper .contact-info-form .contact-info .box .text a {
  color: white;
}

.contact-info-form-wrapper .contact-info-form .contact-info .box .text h3 {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  font-weight: 450;
  color: lightseagreen;
}

.contact-info-form-wrapper .contact-info-form .contact-form {
  width: 40%;
  padding: 30px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/opacity/see-through */
  color: white;
  border: 3px solid #f1f1f1;
}

.contact-info-form-wrapper .contact-info-form .contact-form h2 {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  font-weight: 450;
  color: lightseagreen;
}

.contact-info-form-wrapper .contact-info-form .contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10%;
}

.input-box input, textarea {
  width: 100%;
  padding: 1.5%;
  border: none;
  border-bottom: 2px solid lightseagreen;
  background: none;
  color: white;
  outline: none;
  resize: none;
}

.input-box input[type="email"]:not(:placeholder-shown) ~ span {
  font-size: 0.8rem;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  color: maroon;
}

.input-box input:valid ~ span,
.input-box input[type="email"]:valid ~ span {
  color: white;
  font-size: 0.8rem;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.input-box textarea:valid ~ span,
.input-box input:-webkit-autofill:valid ~ span,
.input-box input[type="email"]:-webkit-autofill:valid ~ span {
  color: white;
  font-size: 0.8rem;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.input-box input:focus ~ span,
.input-box input[type="email"]:focus ~ span {
  color: lightseagreen;
  font-size: 0.8rem;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.input-box textarea:focus ~ span,
.input-box input:-webkit-autofill:focus ~ span,
.input-box input[type="email"]:-webkit-autofill:focus ~ span {
  color: lightseagreen;
  font-size: 0.8rem;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.input-box span {
  position: absolute;
  left: 0;
  padding: 1%;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#send-button {
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  width: 10vh;
  cursor: pointer;
  background: lightseagreen;
}

@media (max-width: 750px) {
  .contact-info-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info {
    margin: 20vh 0;
    width: 80%;
  }
  .contact-form {
    min-width: 90%;
    padding-bottom: 40px;
    margin-bottom: 20vh;
  }
  .contact-form h2 {
    margin-bottom: 5vh;
  }
  #send-button {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    width: 10vh;
  }
}

/* Master Styles */
* {
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background: url(/images/abt_bckgrnd.jpg);
  background-size: cover;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title-wrapper {
  position: relative;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-title-wrapper .page-title {
  max-width: 800px;
  height: 10vh;
  text-align: center;
  color: white;
}

.page-title-wrapper .page-title h2 {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  font-weight: 500;
  color: lightseagreen;
}

.content-wrapper {
  width: 100%;
  top: 50vh;
}
/*# sourceMappingURL=styles.css.map */